.svn/
bin/
*.user
junk/
*.suo
*.ncb
Makefile
config.status
config.log
sphinx-min.conf.dist
sphinx.conf.dist
config/*
*.Po
test/*/report.txt
codeblocks/*.depend
codeblocks/*.layout
*/sphinxversion.h
src/indexer
src/indextool
src/libsphinx.a
src/search
src/searchd
src/spelldump
src/tests
src/mkdict
